<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Check</title>
</head>
<body>
  <h1>{{ check.type|title }} check</h1>
  <h2>Point id: {{ check.order.point_id }}</h2>

  <table style="border: 1px solid black; border-collapse: collapse">
    <tr>
        <th>Product id</th>
        <th>Quantity</th>
        <th>Unit price</th>
    </tr>
    {% for order_item in check.order.items %}
      <tr>
        <td>{{ order_item.product_id }}</td>
        <td>{{ order_item.quantity }}</td>
        <td>{{ order_item.unit_price }}</td>
      </tr>
    {% endfor %}
    <tfoot>
        <tr>
            <td colspan="3">Price: {{ check.full_price }}</td>
        </tr>
    </tfoot>
  </table>
</body>
</html>
